@import '../../../common/styles/variables';
@import '../../../common/styles/mixins';
@import '../../../common/styles/templates';

.projectItem {
  width: 400px;
  background-color: $secondaryBackgroundColor;
  @include flex(column, center, center);
  border-bottom: 1px solid $decorColor;
  margin-bottom: 40px;
  font-size: 14px;

  .projectImg {
    width: 100%;
    height: 280px;
    background-color: #999;
    background-size: cover;
    background-position: center;
    @include flex(column, center, center);
    margin-bottom: 10px;
    position: relative;

    &::after {
      content: '';
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.4;
    }

    .btn {
      @extend %btnLink;
      letter-spacing: 0.3px;
      background-color: rgba(248, 249, 250, 0.7);

      &:first-child {
        margin-bottom: 40px;
      }
    }
  }

  h3 {
    font-size: 21px;
    letter-spacing: 1px;
    margin: 12px 0;
  }

  .description {
    font-family: $secondaryFont;
    letter-spacing: 0.3px;
    margin-bottom: 20px;
    margin-top: 15px;
    width: 90%;
    // height: 250px;
  }
}